<%= turbo_frame_tag target do %>
  <%= form_with(model: target, data: { action: "turbo:submit-end->targets-modal#close", turbo_frame: "_top" }) do |form| %>
    <% if target.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

        <ul>
          <% target.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :total, style: "display: block" %>
      <%= form.number_field :total, min: 1 %>
    </div>

    <div>
      <%= form.hidden_field :year, value: Time.current.year %>
      <%= form.hidden_field :month, value: Time.current.month %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
