<div class="container-fluid">
  <%= turbo_frame_tag target do %>
    <%= form_with(model: target, class: "row g-3 align-items-center", data: { action: "turbo:submit-end->targets-modal#close", turbo_frame: "_top" }) do |form| %>
      <% if target.errors.any? %>
        <div class="text-danger">
          <div><%= t 'errors.template.body' %></div>

          <ul>
            <% target.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :total, style: "display: block", class: "form-label fs-5" %>
      </div>
      <div class="field col-6">
        <%= form.number_field :total, min: 1, max: 10000, class: "form-control text-center fs-5", placeholder: 300 %>
      </div>
      <div class="field col-auto fs-5">
        <%= t'views.common.shots' %>
      </div>

      <div class="text-end">
        <%= form.hidden_field :year, value: @target.year %>
        <%= form.hidden_field :month, value: @target.month %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit class: "btn btn-success text-wrap" %>
      </div>
    <% end %>
  <% end %>
</div>
