<div class="container-fluid">
  <h2 class="mb-5 text-center"><%= t 'devise.registrations.edit.title' %></h2>

  <%= form_with model: @user, url: registration_path(resource_name), data: { turbo: false }, local: true, class: "row g-3 align-items-center" do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3 row justify-content-center">
      <div class="field col-5 fs-5">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="col-5"><%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes', email: resource.unconfirmed_email) %></div>
      <% end %>
    </div>

    <div class="mb-3 row justify-content-center">
      <div class="field col-5 fs-5">
        <%= f.label :password, class: "form-label" %>
          <span class="fs-6">(<%= t 'devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it' %>)</span>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <p class="fs-6 text-danger">(<%= t('devise.passwords.new.validates', count: @minimum_password_length) %>)</p>
        <% end %>
      </div>
    </div>

    <div class="mb-4 row justify-content-center">
      <div class="field col-5 fs-5">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <div class="field col-5 fs-5">
        <%= f.label :current_password, class: "form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        <p class="fs-6">(<%= t 'devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes' %>)</p>
      </div>
    </div>

    <div class="actions text-center my-3">
      <%= f.submit t('devise.registrations.update'), class: "btn btn-outline-success col-3 text-wrap" %>
    </div>
  <% end %>

  <div class="text-center mb-4">
    <%= link_to t('devise.shared.links.back'), root_path, class: "btn btn-outline-primary col-3 text-wrap" %>
  </div>

  <div class="mt-4 row justify-content-center">
    <div class="col-5 pt-3 text-center border-top">
      <h3 class="text-danger fs-4"><i class="bi bi-exclamation-triangle"></i><%= t 'devise.registrations.edit.cancel_my_account' %></h3>

      <p><%= t 'devise.registrations.edit.all_logs_will_be_deleted' %>
        <%= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger col-4 text-wrap" %>
      </p>
    </div>
  </div>
</div>
