<div class="container-fluid">
  <h1 class="text-center fs-4 mb-4"><%= t 'devise.registrations.edit.title' %></h1>

  <%= form_with model: @user, url: user_registration_path, data: { turbo: false }, local: true, class: "row g-3 align-items-center" do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3 row justify-content-center">
      <div class="field">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'user@example.com' %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes', email: resource.unconfirmed_email) %></div>
      <% end %>
    </div>

    <div class="mb-3 row justify-content-center">
      <div class="field">
        <%= f.label :password, class: "form-label" %>
          <p>(<%= t 'devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it' %>)</p>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
        <% if @minimum_password_length %>
          <p>(<%= t('devise.passwords.new.validates', count: @minimum_password_length) %>)</p>
        <% end %>
      </div>
    </div>

    <div class="mb-4 row justify-content-center">
      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="field">
        <%= f.label :current_password, class: "form-label" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: 'PASSword123' %>
        <p>(<%= t 'devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes' %>)</p>
      </div>
    </div>

    <div class="actions text-center my-3">
      <%= f.submit t('devise.registrations.update'), class: "btn btn-outline-success text-wrap" %>
    </div>
  <% end %>

  <div class="text-center mb-4">
    <%= link_to t('devise.shared.links.back'), root_path, class: "btn btn-outline-primary col-3 text-wrap" %>
  </div>

  <div class="mt-3 row justify-content-center">
    <div class="pt-4 text-center border-top border-bottom">
      <p class="text-secondary"><i class="bi bi-exclamation-triangle"></i><%= t 'devise.registrations.edit.cancel_my_account' %><i class="bi bi-exclamation-triangle"></i></p>

      <p class="text-secondary"><%= t 'devise.registrations.edit.all_logs_will_be_deleted' %>
        <%= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), form: { data: { turbo_confirm: t('devise.registrations.edit.are_you_sure') } }, method: :delete, class: "btn btn-outline-secondary btn-sm text-wrap" %>
      </p>
    </div>
  </div>
</div>
