<div class="container-fluid">
  <h1 class="text-center fs-4 mb-4"><%= t 'devise.registrations.new.sign_up' %></h1>

  <%= form_with model: @user, url: user_registration_path, data: { turbo: false }, local: true, class: "align-items-center" do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3 row justify-content-center">
      <div class="field">
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'user@example.com' %>
      </div>
    </div>

    <div class="mb-3 row justify-content-center">
      <div class="field">
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
        <% if @minimum_password_length %>
          <p>(<%= t('devise.passwords.new.validates', count: @minimum_password_length) %>)</p>
        <% end %>
      </div>
    </div>

    <div class="mb-4 row justify-content-center">
      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
      </div>
    </div>

    <div class="actions text-center my-4">
      <%= f.submit t('devise.registrations.new.sign_up'), class: "btn btn-success btn-lg text-wrap col-8" %>
    </div>
  <% end %>

  <div class="text-center mt-3">
    <%= link_to t('devise.shared.links.back'), root_path, class: "text-secondary" %>
  </div>
</div>
