<div class="container-fluid">
  <h1 class="text-center fs-4 mb-4"><%= t 'devise.passwords.edit.change_your_password' %></h1>

  <%= form_with model: @user, url: user_password_path, method: :patch, data: { turbo: false }, local: true, class: "row g-3 align-items-center" do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-3 row justify-content-center">
      <div class="field">
        <%= f.label :password, t('devise.passwords.edit.new_password'), class: "form-label" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
        <% if @minimum_password_length %>
          <p>(<%= t('devise.passwords.new.validates', count: @minimum_password_length) %>)</p>
        <% end %>
      </div>
    </div>

    <div class="mb-4 row justify-content-center">
      <div class="field">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: 'PASSword123' %>
      </div>
    </div>

    <div class="actions text-center my-3">
      <%= f.submit t('devise.passwords.edit.change_my_password'), class: "btn btn-outline-success text-wrap" %>
    </div>
  <% end %>

  <div class="text-center mb-4">
    <%= link_to t('devise.shared.links.back'), root_path, class: "btn btn-outline-primary text-wrap" %>
  </div>

  <div class="text-center my-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
