<div class="container-fluid">
  <div class="justify-content-center">
    <h1 class="fs-4 welcome-header">弓道練習記録帳とは</h1>
    <p class="mb-4">
      弓道練習記録帳は、弓道の練習記録の管理・集計アプリです。<br>
      スマートフォンやPCで手軽に練習記録の入力をしたり、過去の練習メモや月間の練習量の確認ができます。
    </p>

    <h2 class="fs-4 welcome-header">
      <i class="bi bi-emoji-dizzy text-danger"></i>こんなこと、ありませんか？
    </h2>

    <ul class="list-unstyled ms-4">
      <li class="indent"><span><i class="bi bi-exclamation-circle mx-2 text-danger"></i>練習で気付いたことをメモするのを忘れた</span></li>
      <li class="indent"><span><i class="bi bi-exclamation-circle mx-2 text-danger"></i>新しい記録ノートになって、あの時のメモが見返せない</span></li>
      <li class="indent"><span><i class="bi bi-exclamation-circle mx-2 text-danger"></i>的中率が低迷しているので練習のモチベーションが下がりがち</span></li>
      <li class="indent"><span><i class="bi bi-exclamation-circle mx-2 text-danger"></i>なかなか道場に行けないけど少しでも練習は続けたい…</span></li>
      <li class="indent"><span><i class="bi bi-exclamation-circle mx-2 text-danger"></i>まだ的前には立てないけど、教わったことは残しておきたい</span></li>
    </ul>

    <h2 class="fs-4 welcome-header">
      <i class="bi bi-emoji-smile text-success"></i>このアプリがサポートします！
    </h2>

    <div class="ms-4 indent">
      <p><i class="bi bi-check-circle mx-2 text-success"></i>スマートフォンでどこでも手軽に射数やメモを記録できます。</p>
      <p class="fy-2 text-center"><%= image_tag('input_practice.png', alt: '練習記録を簡単に入力できます。', size: '300x300', class: "img-thumbnail") %></p>
    </div>

    <div class="ms-4 indent">
      <p><i class="bi bi-check-circle mx-2 text-success"></i>大切なメモだけ表示したり、いつも目に入るように固定表示したりできます。</p>
      <p class="fy-2 text-center"><%= image_tag('practices.png', alt: '全てのメモと大切なメモを切り替えできます。', size: '300x300', class: "img-thumbnail") %></p>
    </div>

    <div class="ms-4 indent">
      <p><i class="bi bi-check-circle mx-2 text-success"></i>あえて的中数は記録しないようにしました。射数のみを記録するので、的前だけでなく巻藁やゴム弓、徒手も射数に入れて、練習の積み重ねを実感しましょう。</p>
      <p class="fy-2 text-center"><%= image_tag('calendar.png', alt: 'カレンダーにその日の射数を表示します。', size: '300x300', class: "img-thumbnail") %></p>
    </div>

    <div class="ms-4 indent">
      <p><i class="bi bi-check-circle mx-2 text-success"></i>月の初めに、今月の目標射数を入力しましょう。少しづつ練習を積み重ねて目標を超えていきましょう。</p>
      <p class="fy-2 text-center"><%= image_tag('target.png', alt: '目標射数と現在の射数、目標までの残り射数が表示されます。', size: '300x200', class: "img-thumbnail") %></p>
    </div>

    <h2 class="fs-4 welcome-header">
      <i class="bi bi-hand-thumbs-up text-primary"></i>練習を習慣にしていきましょう！
    </h2>

    <div class="mb-3">
      メールアドレスがあれば無料で利用できます。
      あなたも弓道練習記録帳で<span class="text-danger">「継続は力なり」</span>を実感してみませんか？
    </div>
    <div class="text-center mb-3">
      <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'btn btn-primary btn' %>
    </div>

    <div class="text-center mb-3">
      <p>すでにアカウントをお持ちですか？</p>
      <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'btn btn-outline-success' %>
    </div>
  </div>
</div>
