<div class="container-fluid">
  <h1 class="text-center fs-4 mb-4">使い方</h1>

  <h2 class="mb-1 fs-5">1.利用登録</h2>
  <p>メールアドレスとパスワードを入力してアカウントを登録します。</p>
  <p>登録したメールアドレス宛に認証メールを送信しますので、メール本文内の認証リンクをクリックしてください。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('sign_up.png', alt: 'メールアドレスとパスワードを入力してアカウントを登録します。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">2.ログイン</h2>
  <p>トップページのメニューからログインをクリックし、登録したメールアドレスとパスワードでログインします。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('log_in.png', alt: '登録したメールアドレスとパスワードでログインします。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">3.目標の入力</h2>
  <p>初めに今月の目標射数を入力しましょう。</p>
  <p>射数は的前だけでなく、巻藁、ゴム弓、徒手などを含めてもOKです。</p>
  <p>最初の目標は「これぐらいならできそうかな」と思うぐらいがおすすめです。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('target_input.png', alt: '今月の目標射数を入力しましょう。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">4.記録の入力</h2>
  <p>毎日の記録を入力していきましょう。</p>
  <p>練習で気づいた事や教わった事をメモに残せます。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('input_practice.png', alt: '練習記録を入力しましょう。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">5.カレンダー</h2>
  <p>記録を入力した日は射数が表示され色がつきます。</p>
  <p>射数をクリックすると、その日の記録内容を見ることができます。</p>
  <p>&lt;&lt;で先月、&gt;&gt;で翌月の表示になります。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('calendar.png', alt: '記録を入力した日はカレンダーに色がつきます。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">6.記録一覧</h2>
  <p>記録を入力する時に「固定表示する」にチェックを入れると、1番上に表示されます。</p>
  <p>また、「大切な記録」にチェックを入れた記録は、「大切なメモ」タブで絞り込めます。</p>
  <p class="mt-2 mb-4 text-center"><%= image_tag('practices.png', alt: '全てのメモと大切なメモを切り替えできます。', size: '300x300', class: "img-thumbnail") %></p>

  <h2 class="mb-1 fs-5">7.ホーム画面に戻る</h2>
  <p>ロゴをクリックするとホーム画面に戻り、今月のカレンダーが表示されます。</p>
  <p class="my-2 text-center"><%= image_tag('back.png', alt: 'ロゴをクリックするとホーム画面に戻り、今月のカレンダーが表示されます。', size: '300x150', class: "img-thumbnail") %></p>
</div>
