<div class="simple-calendar">
  <div class="text-center">
    <div class="fs-5 mb-3">
      <% if @target_data.blank? %>
        <span class="text-success"><%= t 'views.index.no_target' %></span>
      <% end %>
    </div>

    <%= turbo_frame_tag 'targets_input' do %>
      <div class="mb-3">
        <% if @target_data.blank? %>
          <%= link_to t('views.index.target_input', year: start_date.year, month: start_date.month), new_target_path(year: start_date.year, month: start_date.month), data: { turbo_frame: "targets_modal" }, class: "btn btn-success btn-lg" %>
        <% end %>
      </div>
    <% end %>

    <div class="container-fluid my-3">
      <div class="calendar-heading mb-1 text-center">
        <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "me-2 text-decoration-none fs-1" %>
        <span class="calendar-title fs-3 mx-5"><%= start_date.year %><%= t 'datetime.prompts.year' %><%= t('date.month_names')[start_date.month] %></span>
        <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "ms-2 text-decoration-none fs-1" %>
      </div>

      <div class="text-center">
        <span class="me-2"><%= t 'views.index.result' %></span>
        <span class="fs-1">
          <% if @target_data.blank? || @remaining_shots.positive? %>
            <span><%= t('views.index.shooting_counts', count: @results) %></span>
          <% else %>
            <span class="text-danger"><%= t('views.index.shooting_counts', count: @results) %></span>
          <% end %>
        </span>
        <span><%= t 'views.common.shots' %></span>

        <span class="fs-2">/</span>

        <span class="me-2"><%= t 'views.index.target' %></span>
        <span class="fs-1">
          <%= @target_data.blank? ?
                t('views.index.shooting_counts', count: 0)
                : t('views.index.shooting_counts', count: @target_data.first[:total]) %>
        </span>
        <span><%= t 'views.common.shots' %></span>
        <%= turbo_frame_tag 'targets_input' do %>
            <% unless @target_data.blank? %>
              <%= link_to '', edit_target_path(@target_data.first[:id]), data: { turbo_frame: "targets_modal" }, class: "bi bi-pencil text-success mx-2" %>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="fs-5 mb-3">
      <% unless @target_data.blank? %>
        <% if @remaining_shots <= 0 %>
          <span class="text-danger"><%= t 'views.achievement.title' %></span>
        <% else %>
          <span><%= t('views.index.remaining_shots', count: @remaining_shots) %></span>
        <% end %>
      <% end %>
    </div>

    <div class="mb-3">
      <%= link_to t('views.new.title'), new_practice_path, data: { turbo_frame: "_top" }, class: "bi bi-pencil btn btn-success btn-lg text-wrap" %>
    </div>

    <%= turbo_frame_tag 'achievement_message' do %>
      <% if !@target_data.blank? && (@remaining_shots <= 0) && (@target_data.first[:achievement] == false) %>
        <div>
          <%= render partial: 'practices/achievement_message', data: { turbo_frame: "achievement_message_modal" } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container-fluid">
    <table class="table table-bordered border-dark text-center" >
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
