<div
<%= render "achievement_message_modal" do %>
  <%= turbo_frame_tag "achievement_message" do %>
    <%= form_with(model: @target_data.first, data: { action: "turbo:submit-end->targets-modal#close", turbo_frame: "_top" }) do |form| %>

      <div class="mb-3 text-wrap text-center">
        <i class="bi bi-check-circle-fill text-success display-1"></i>
        <p class="fs-3"><%= t 'views.achievement.message1' %></p>
        <p class="fs-5"><%= simple_format(t('views.achievement.message2')) %></p>
      </div>

      <div class="text-center">
        <%= form.hidden_field :achievement, value: true %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.submit t('views.achievement.close'), class: "btn btn-outline-danger text-wrap"%>
      </div>
    <% end %>
  <% end %>
<% end %>
