<div class="container-fluid">
  <%= form_with(model: practice, class: "row g-3 align-items-center") do |form| %>
    <% if practice.errors.any? %>
      <div class="text-danger">
        <div><%= t 'errors.template.body' %></div>

        <ul>
          <% practice.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-3 row justify-content-center">
      <div class="field">
        <%= form.label :date, style: "display: block", class: "form-label" %>
        <%= form.date_field :date, class: "form-control text-center" %>
      </div>
    </div>

    <div class="mt-3 row justify-content-center">
      <div class="field">
        <%= form.label :shooting_count, style: "display: block", class: "form-label" %>
        <%= form.number_field :shooting_count, min: 0, max: 500, class: "form-control text-center" %>
      </div>
    </div>

    <div class="mt-3 row justify-content-center">
      <div class="field">
        <%= form.label :memo, style: "display: block", class: "form_label" %>
        <%= form.text_area :memo, class: "form-control memo_textarea" %>
      </div>
    </div>

    <div class="mt-3 row justify-content-center ps-4">
      <div class="form-check">
        <%= form.check_box :fixed, class: "form-check-input" %>
        <%= form.label t('views.form.fixed'), style: "display: block", class: "form-check-label text-nowrap" %>
      </div>
    </div>
    <div class="mt-1 row justify-content-center ps-4">
      <div class="form-check">
        <%= form.check_box :important, class: "form-check-input" %>
        <%= form.label t('views.form.important'), style: "display: block", class: "form-check-label text-nowrap" %>
      </div>
    </div>

    <div class="text-center my-3">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit class: "btn btn-outline-success btn-lg text-wrap" %>
    </div>
  <% end %>
</div>
