<div id="<%= dom_id practice %>">
  <p>
    <%= practice.important == true ? 'â­ï¸' : '' %>
    <%= practice.fixed == true ? 'ðŸ“Œå›ºå®šã•ã‚ŒãŸãƒ¡ãƒ¢' : '' %>
  </p>

  <p>
    <%= practice.date %> | <%= practice.shooting_count %>å°„
  </p>

  <p>
    <%= practice.memo.blank? ? 'ãƒ¡ãƒ¢ã¯ã‚ã‚Šã¾ã›ã‚“ã€‚' : practice.memo %>
  </p>

</div>
