<div id="<%= dom_id practice %>" class="my-4">
  <div class="row lh-sm justify-content-between">
    <div class="col-9">
      <span class="ms-2 me-4"><u><%= l(practice.date, format: :long) %></u></span>
      <span><%= practice_shooting_count_display(practice) %><%= t 'views.common.shots' %></span>
      <span><%= practice_fixed_icon(practice) %><%= practice_important_icon(practice) %></span>
    </div>
    <div class="col-2">
      <%= link_to '', edit_practice_path(practice), data: { turbo_frame: "_top" }, class: "bi bi-pencil text-secondary mx-2" %>
    </div>
  </div>

  <div class="text-break pt-2 pb-1 px-2">
    <%= practice_memo_blank_message(practice) %>
  </div>
</div>
