<div id="<%= dom_id practice %>" class="lh-lg my-2">
  <div class="row lh-sm">
    <span class="col-md-4 fs-6 text-nowrap"><%= l(practice.date, format: :long) %></span>
    <span class="col-md-2 fs-6 text-nowrap"><%= practice_shooting_count_blank?(practice) %></span>
    <span class="col-md-1 fs-5 text-nowrap"><%= practice_fixed?(practice) %> <%= practice_important?(practice) %></span>
  </div>

  <div class="fs-6 text-break">
    <%= practice_memo_blank?(practice) %>
  </div>

  <div class="text-end border-bottom border-dark border-opacity-25 pb-2 px-3">
    <%= link_to t('views.common.edit'), edit_practice_path(practice), data: { turbo_frame: "_top" }, class: "btn btn-outline-success btn-sm" %>
  </div>
</div>
