<div id="<%= dom_id practice %>">
  <p>
    <%= practice.important == true ? 'â­ï¸' : '' %>
    <%= practice.fixed == true ? 'ðŸ“Œ' : '' %>
  </p>

  <p>
    <%= practice.shooting_count.blank? ?
          t('views.index.shooting_counts', count: 0)
          : t('views.index.shooting_counts', count: practice.shooting_count) %>
  </p>

  <p>
    <%= practice.memo.blank? ? t('views.show.no_memos') : practice.memo %>
  </p>

</div>
