<div id="<%= dom_id practice %>">
  <p>
    <strong>Date:</strong>
    <%= practice.date %>
  </p>

  <p>
    <strong>Shooting count:</strong>
    <%= practice.shooting_count %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= practice.memo %>
  </p>

  <p>
    <strong>Fixed:</strong>
    <%= practice.fixed %>
  </p>

  <p>
    <strong>Important:</strong>
    <%= practice.important %>
  </p>

</div>
