<h1 class="text-center fs-5 mt-3"><%= t('views.index.title') %></h1>

<div class="container-fluid mb-5">
  <%= turbo_frame_tag 'calendar', data: { turbo_action: :advance } do %>
    <%= month_calendar(events: @calendar_displayed_practices) do |date, calendar_displayed_practices| %>
      <%= date.day %>

      <% calendar_displayed_practices.each do |calendar_displayed_practice| %>
        <div>
          <% calendar_displayed_practice.shooting_count ||= 0 %>
          <%= link_to "#{calendar_displayed_practice.shooting_count}",
                      practice_path(calendar_displayed_practice),
                      data: { turbo_frame: "practices_modal" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <%= turbo_frame_tag 'practices-list' do %>

    <%= render 'tabs' %>

    <div>
      <% if @user_practices.length == 0 %>
        <div class="text-center fs-5 text-secondary my-3">
          <%= "記録はありません" %>
        </div>
      <% else %>
        <div id="practices">
          <% @user_practices.each do |practice| %>
            <div>
              <%= render practice %>
            </div>
          <% end %>
        </div>
        <% end %>
    </div>

    <div class="mt-3">
      <%= paginate @user_practices, window:1%>
    </div>
  <% end %>
</div>

<nav class="navbar navbar-expand-md sticky-bottom bg-white justify-content-center border">
  <div class="my-2">
    <%= link_to t('views.new.title'), new_practice_path, data: { turbo_frame: "_top" }, class: "bi bi-pencil btn btn-success btn-lg text-wrap" %>
  </div>
</nav>
