<p style="color: green"><%= notice %></p>

<h1>弓道練習記録帳</h1>

<hr>

<%= link_to "今日の練習を記録する", new_practice_path %>

<hr>

<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>

<hr>

<div id="practices">
  <% @practices.each do |practice| %>
    <%= render practice %>
    <p>
      <%= link_to "詳細", practice %> |
      <%= link_to "編集", edit_practice_path(practice) %>
    </p>
    <hr>
  <% end %>
</div>
