<h1>弓道練習記録帳</h1>

<hr>
<div>
  <%= link_to "今日の練習を記録する", new_practice_path %>
</div>

<%= turbo_frame_tag 'targets_input' do %>
  <div>
    <%= link_to "今月の目標を設定する", targets_new_path, data: { turbo_frame: "targets_modal" } %>
  </div>
<% end %>

<hr>

<%= turbo_frame_tag 'calendar' do %>
  <%= month_calendar(events: @calendar_displayed_practices) do |date, calendar_displayed_practices| %>
    <%= date.month %>/<%= date.day %>

    <% calendar_displayed_practices.each do |calendar_displayed_practice| %>
      <div>
        <%= link_to "#{calendar_displayed_practice.shooting_count}射",
                    practice_path(calendar_displayed_practice),
                    data: { turbo_frame: "practices_modal" } %>
      </div>
    <% end %>
  <% end %>
<% end %>

<hr>

<%= turbo_frame_tag 'practices-list' do %>
  <%= render 'tabs' %>

  <%= paginate @practices %>

  <div id="practices">
    <% @practices.each do |practice| %>
      <%= render practice %>
      <p>
        <%= link_to "編集", edit_practice_path(practice), data: { turbo_frame: "_top" } %> |
        <%= link_to "記録を削除する", practice, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？", turbo_frame: "_top" } %>
      </p>
      <hr>
    <% end %>
  </div>

  <%= paginate @practices %>
<% end %>
