<h1 class="text-center fs-5 mt-2"><%= t('views.index.title') %></h1>

<div class="container-fluid mb-4">
  <%= turbo_frame_tag 'calendar', data: { turbo_action: :advance } do %>
    <%= month_calendar(events: @calendar_displayed_practices) do |date, calendar_displayed_practices| %>
      <%= date.day %>

      <% calendar_displayed_practices.each do |calendar_displayed_practice| %>
        <div>
          <% calendar_displayed_practice.shooting_count ||= 0 %>
          <%= link_to "#{calendar_displayed_practice.shooting_count}",
                      practice_path(calendar_displayed_practice),
                      data: { turbo_frame: "practices_modal" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="container-fluid">
  <%= turbo_frame_tag 'practices-list' do %>

    <%= render 'tabs' %>

    <div id="practices">
      <% @user_practices.each do |practice| %>
        <div>
          <%= render practice %>
        </div>
      <% end %>
    </div>

    <div class="my-4">
      <%= paginate @user_practices, window:1%>
    </div>
  <% end %>
</div>
