<%= turbo_frame_tag @practice do %>
  <%= render "practices_modal" do %>

    <p>
      <%= @practice.important == true ? t('activerecord.attributes.practice.important') : '' %>
      <%= @practice.fixed == true ? t('activerecord.attributes.practice.fixed') : '' %>
    </p>

    <p>
      <%= @practice.shooting_count.blank? ?
            t('views.index.shooting_counts', count: 0)
          : t('views.index.shooting_counts', count: @practice.shooting_count) %>
    </p>

    <p>
      <%= @practice.memo.blank? ? t('views.show.no_memos') : @practice.memo %>
    </p>

    <div>
      <%= link_to t('views.common.edit'), edit_practice_path(@practice), data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
