<%= turbo_frame_tag @practice do %>
  <%= render "practices_modal" do %>

    <div class="row">
      <span class="col-2 fs-5"><%= practice_shooting_count_blank?(@practice) %></span>
      <span class="col-2 fs-4"><%= practice_fixed?(@practice) %> <%= practice_important?(@practice) %></span>
    </div>

    <div class="fs-5 px-3 text-break">
      <%= practice_memo_blank?(@practice) %>
    </div>

    <div class="pt-3 text-end">
      <%= link_to t('views.common.edit'), edit_practice_path(@practice), data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
