<%= turbo_frame_tag @practice do %>
  <%= render "practices_modal" do %>

    <p>
      <%= practice_important?(@practice) %>
      <%= practice_fixed?(@practice) %>
    </p>

    <p>
      <%= practice_shooting_count_blank?(@practice) %>
    </p>

    <p>
      <%= practice_memo_blank?(@practice) %>
    </p>

    <div>
      <%= link_to t('views.common.edit'), edit_practice_path(@practice), data: { turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
