<%= turbo_frame_tag @practice do %>
  <%= render "modal", title: "詳細" do %>

    <%= render @practice %>

    <div>
      <%= link_to "編集", edit_practice_path(@practice), data: { turbo_frame: "_top" } %> |

      <%= link_to "記録を削除する", @practice, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？", turbo_frame: "_top" } %>
    </div>
  <% end %>
<% end %>
