<%= turbo_frame_tag @practice do %>
  <%= render "practices_modal" do %>

    <div class="row lh-sm">
      <p>
        <%= practice_shooting_count_display(@practice) %>
        <%= practice_fixed_icon(@practice) %>
        <%= practice_important_icon(@practice) %>
      </p>
    </div>

    <div class="text-break">
      <%= practice_memo_blank_message(@practice) %>
    </div>

    <div class="pt-3 text-end">
      <%= link_to t('views.common.edit'), edit_practice_path(@practice), data: { turbo_frame: "_top" }, class: "btn btn-outline-success btn-sm" %>
    </div>
  <% end %>
<% end %>
