<nav class="navbar">
  <div class="container-fluid col-10 pb-3 border-bottom">
    <div>
      <%= link_to image_tag('title.png', alt: t('layouts.application.title')), root_path, data: { turbo_frame: "_top" } %>
    </div>
    <div class="ms-auto">
    <% if user_signed_in? %>
        <%= link_to t('layouts.application.edit_profile'), edit_user_registration_path, class: 'btn btn-outline-success btn-sm me-md-2' %>
        <%= link_to t('layouts.application.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-outline-danger btn-sm' %>
      <% else %>
        <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'btn btn-outline-success btn-sm' %>
      <% end %>
    </div>
  </div>
</nav>
