<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= t 'layouts.application.title' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </header>
    <main class="flex-grow-1">
    <%= yield %>
    <%= turbo_frame_tag "practices_modal" %>
    <%= turbo_frame_tag "targets_modal" %>
    <%= turbo_frame_tag "achievement_message_modal" %>
    </main>
    <footer class="footer py-3 bg-light">
      <ul class="nav justify-content-center my-2">
        <li class="nav-item px-2 text-muted">使い方</li>
        <li class="nav-item px-2 text-muted">利用規約</li>
        <li class="nav-item px-2 text-muted">プライバシーポリシー</li>
      </ul>
      <p class="text-center text-muted mb-0">&copy; 2022 taka110-IT</p>
    </footer>
  </body>
</html>
