<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'layouts.application.title' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </header>
    <%= yield %>
    <%= turbo_frame_tag "practices_modal" %>
    <%= turbo_frame_tag "targets_modal" %>
    <%= turbo_frame_tag "achievement_message_modal" %>
  </body>
</html>
