<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= t 'layouts.application.title' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags default_meta_tags %>
    <%= favicon_link_tag 'favicon.ico', rel: 'shortcut icon' %>
    <%= favicon_link_tag 'apple-touch-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= favicon_link_tag 'android-chrome-192x192.png', rel: 'icon', type: 'image/png' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column h-100">
    <header>
      <%= render "layouts/navbar" %>
      <%= render "layouts/flash" %>
    </header>
    <main class="flex-grow-1">
    <%= yield %>
    <%= turbo_frame_tag "practices_modal" %>
    <%= turbo_frame_tag "targets_modal" %>
    <%= turbo_frame_tag "achievement_message_modal" %>
    </main>
    <footer class="footer py-3">
      <ul class="nav justify-content-center my-2">
        <li class="nav-item px-2 text-muted">
          <%= link_to t('views.footer.how_to_use'), how_to_uses_path, data: { turbo: false } %>
        </li>
        <li class="nav-item px-2 text-muted">
          <%= link_to t('views.footer.terms_of_services'), terms_of_services_path, data: { turbo: false } %>
        </li>
        <li class="nav-item px-2 text-muted">
          <%= link_to t('views.footer.privacy_policy'), privacy_policies_path, data: { turbo: false } %>
        </li>
      </ul>
      <p class="text-center text-muted mb-0">&copy; 2022 taka110-IT</p>
    </footer>
  </body>
</html>
