<!DOCTYPE html>
<html>
  <head>
    <title>KyudoTrainingLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <div><h1>弓道練習記録帳</h1></div>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %> |
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: 'navbar-link' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, class: 'navbar-link'  %>
          <% end %>
        </p>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= turbo_frame_tag "practices_modal" %>
    <%= turbo_frame_tag "targets_modal" %>
    <%= turbo_frame_tag "achievement_message_modal" %>
  </body>
</html>
