<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'layouts.application.title' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <div><h1><%= t 'layouts.application.title' %></h1></div>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            <%= t 'layouts.application.logged_in_as' %><strong><%= current_user.email %></strong>
            <%= link_to t('layouts.application.edit_profile'), edit_user_registration_path, class: 'navbar-link' %>
            <%= link_to t('layouts.application.logout'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'navbar-link' %>
          <% else %>
            <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'navbar-link'  %>
            <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'navbar-link'  %>
          <% end %>
        </p>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= turbo_frame_tag "practices_modal" %>
    <%= turbo_frame_tag "targets_modal" %>
    <%= turbo_frame_tag "achievement_message_modal" %>
  </body>
</html>
